In [3]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.metrics import mean_squared_error as mse

### Creating sample data

In [4]:
experience =[1.2,1.5,1.9,2.2,2.4,2.5,2.8,3.1,3.3,3.7,4.2,4.4]
salary     =[1.7,2.4,2.3,3.1,3.7,4.2,4.4,6.1,5.4,5.7,6.4,6.2]

data=pd.DataFrame({
    "salary" : salary,
    "experience"  : experience
})
data.head()

   salary  experience
0     1.7         1.2
1     2.4         1.5
2     2.3         1.9
3     3.1         2.2
4     3.7         2.4

###  Plotting the data

In [ ]:
plt.scatter()