In [27]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.preprocessing import StandardScaler

In [2]:
dataset=pd.read_csv('C:\\Users\\phera\\Desktop\\datasets\\Social_Network_Ads.csv')
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [3]:
X= dataset.iloc[:, [2,3]]
Y= dataset.iloc[:,4]

In [4]:
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [5]:
Y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [7]:
x_train,x_test,y_train,y_test=train_test_split(X,Y , test_size=.25)

In [10]:
scalar=StandardScaler()
x_train_scaled= scalar.fit_transform(x_train)
x_test_scaled=scalar.transform(x_train)

In [11]:
x_train.shape

(300, 2)

In [12]:
x_test.shape

(100, 2)

In [13]:
clf=SVC()

In [15]:
clf.fit(x_train_scaled,y_train)

SVC()

In [16]:
from sklearn.metrics import accuracy_score

In [17]:
y_pred=clf.predict(x_test_scaled)

In [19]:
accuracy_score(y_test,y_pred)

ValueError: Found input variables with inconsistent numbers of samples: [100, 300]

In [20]:
grid={
    'C': [1, 10, 100, 1000],
    'kernel': ['rbf','linear'],
    'gamma': [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9]
}

In [23]:
grid_search_cv=GridSearchCV(SVC(), param_grid=grid, scoring='accuracy', n_jobs=-1)

In [24]:
grid_search_cv.fit(x_train_scaled,y_train)

GridSearchCV(estimator=SVC(), n_jobs=-1,
             param_grid={'C': [1, 10, 100, 1000],
                         'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9],
                         'kernel': ['rbf', 'linear']},
             scoring='accuracy')

In [25]:
grid_search_cv.best_score_

0.9033333333333333

In [26]:
grid_search_cv.best_params_

{'C': 10, 'gamma': 0.5, 'kernel': 'rbf'}

In [28]:
rdm_search_cv=RandomizedSearchCV(SVC(), param_distributions=grid, scoring='accuracy', n_jobs=-1)

In [30]:
rdm_search_cv.fit(x_train_scaled,y_train)

RandomizedSearchCV(estimator=SVC(), n_jobs=-1,
                   param_distributions={'C': [1, 10, 100, 1000],
                                        'gamma': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6,
                                                  0.7, 0.8, 0.9],
                                        'kernel': ['rbf', 'linear']},
                   scoring='accuracy')

In [31]:
rdm_search_cv.best_score_

0.9033333333333333

In [32]:
rdm_search_cv.best_params_

{'kernel': 'rbf', 'gamma': 0.6, 'C': 10}