In [1]:
import pyspark

In [2]:
import pandas as pd

In [3]:
pd.read_csv('test1.csv')

        Name  age  Experience  Salary
0      Krish   31          10   30000
1  Sudhanshu   30           8   25000
2      Sunny   29           4   20000
3       Paul   24           3   20000
4     Harsha   21           1   15000
5    Shubham   23           2   18000

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName('Practise').getOrCreate

In [13]:
spark

In [ ]:
df_pyspark = spark.read.csv('test1.csv')

In [ ]:
import pyspark
spark = SparkSession.builder.appName('Practise').getOrCreate()

### pyspark groupy

In [1]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName('Age').getOrCreate()

In [ ]:
spark

In [ ]:
df_pyspark = spark.read.csv('test3.csv', header = True, inferSchema = True)

In [ ]:
df_pyspark.show()

In [ ]:
df_spark.printSchema()

In [ ]:
df_spark.groupBy('Name')

In [ ]:
df_spark.groupBy('Name').sum()

In [ ]:
df_spark.groupBy('Name').sum().show()

In [ ]:
df_spark.groupBy('Name').max().show()

In [ ]:
df_spark.groupBy('Departments').sum().show()

In [ ]:
df_spark.groupBy('Departments').avg().show()

In [ ]:
df_spark.groupBy('Departments').mean().show()

In [ ]:
df_spark.groupBy('Departments').count().show()

In [ ]:
df_spark.agg({'salary': 'sum'}).show

In [ ]:
spark = SparkSession.builder.appName('Missing').getOrCreate()

In [ ]:
training = spark.read.csv('test1.csv', header = True, inferSchema = True)

In [ ]:
training.show()

In [ ]:
training.printSchema()

In [ ]:
training.columns()

In [ ]:
[Age,Experience]

In [ ]:
from pyspark.ml.feature VectorAssembler
assembler = VectorAssembler(inputcols = ['Age','Experience'],outputcol = 'Independent Features')

In [ ]:
output = featureassembler.transform(training)

In [ ]:
output.show()

In [ ]:
output.columns()

In [ ]:
finalized_data = output.select('Independent Features','Salary')

In [ ]:
finalized_dta.show()

In [ ]:
from pyspark.ml.regression import LinearRegression
train_data,test_data = finalized_data.randomsplit([0.75,0.25])
regressor = LinearRegression(featuresCol = 'Independent Features' , labelCol = 'Salary')
regressor = regressor.fit(train_data)

In [ ]:
regressor.coefficient

In [ ]:
pred_result = regressor.evaluate(test_data)

In [ ]:
pred_result.predictions.show()

In [ ]:
pred_result.meanAbsoluteError,pred_resu