In [1]:
review_1 = 'The movie was good and we really like it'
review_2 = 'The movie was good but the ending was boring'
review_3 = 'We did not like the movie as it was too lengthy'

In [9]:
import pandas as pd
import numpy as np
import nltk
from nltk import word_tokenize

review_1_tokens = word_tokenize(review_1)
print(review_1_tokens)
review_2_tokens = word_tokenize(review_2)
print(review_2_tokens)
review_3_tokens = word_tokenize(review_3)
print(review_3_tokens)

['The', 'movie', 'was', 'good', 'and', 'we', 'really', 'like', 'it']
['The', 'movie', 'was', 'good', 'but', 'the', 'ending', 'was', 'boring']
['We', 'did', 'not', 'like', 'the', 'movie', 'as', 'it', 'was', 'too', 'lengthy']

In [11]:
review_tokens = set(review_1_tokens).union(set(review_2_tokens)).union(set(review_3_tokens))
print(review_tokens)

{'lengthy', 'movie', 'too', 'good', 'The', 'not', 'We', 'and', 'the', 'but', 'ending', 'like', 'boring', 'we', 'as', 'was', 'did', 'it', 'really'}

In [12]:
len(review_tokens)

19

In [13]:
review_tokens

{'The',
 'We',
 'and',
 'as',
 'boring',
 'but',
 'did',
 'ending',
 'good',
 'it',
 'lengthy',
 'like',
 'movie',
 'not',
 'really',
 'the',
 'too',
 'was',
 'we'}

In [14]:
review1_dict = dict.fromkeys(review_tokens,0)

In [19]:
review1_dict

{'lengthy': 0,
 'movie': 0,
 'too': 0,
 'good': 0,
 'The': 0,
 'not': 0,
 'We': 0,
 'and': 0,
 'the': 0,
 'but': 0,
 'ending': 0,
 'like': 0,
 'boring': 0,
 'we': 0,
 'as': 0,
 'was': 0,
 'did': 0,
 'it': 0,
 'really': 0}

In [17]:
review1_dict = dict.fromkeys(review_tokens,0)
review2_dict = dict.fromkeys(review_tokens,0)
review3_dict = dict.fromkeys(review_tokens,0)

In [22]:
for token in review_1_tokens:
    review1_dict[token]+=1

In [23]:
review1_dict

{'lengthy': 0,
 'movie': 1,
 'too': 0,
 'good': 1,
 'The': 1,
 'not': 0,
 'We': 0,
 'and': 1,
 'the': 0,
 'but': 0,
 'ending': 0,
 'like': 1,
 'boring': 0,
 'we': 1,
 'as': 0,
 'was': 1,
 'did': 0,
 'it': 1,
 'really': 1}

In [24]:
for token in review_2_tokens:
    review2_dict[token]+=1

In [25]:
review2_dict

{'lengthy': 0,
 'movie': 1,
 'too': 0,
 'good': 1,
 'The': 1,
 'not': 0,
 'We': 0,
 'and': 0,
 'the': 1,
 'but': 1,
 'ending': 1,
 'like': 0,
 'boring': 1,
 'we': 0,
 'as': 0,
 'was': 2,
 'did': 0,
 'it': 0,
 'really': 0}

In [26]:
for token in review_3_tokens:
    review3_dict[token]+=1

In [27]:
review3_dict

{'lengthy': 1,
 'movie': 1,
 'too': 1,
 'good': 0,
 'The': 0,
 'not': 1,
 'We': 1,
 'and': 0,
 'the': 1,
 'but': 0,
 'ending': 0,
 'like': 1,
 'boring': 0,
 'we': 0,
 'as': 1,
 'was': 1,
 'did': 1,
 'it': 1,
 'really': 0}

In [28]:
reviews_Dict_DF = pd.DataFrame([review1_dict,review2_dict,review3_dict])

In [29]:
reviews_Dict_DF

,lengthy,movie,too,good,The,not,We,and,the,but,ending,like,boring,we,as,was,did,it,really
0,0,1,0,1,1,0,0,1,0,0,0,1,0,1,0,1,0,1,1
1,0,1,0,1,1,0,0,0,1,1,1,0,1,0,0,2,0,0,0
2,1,1,1,0,0,1,1,0,1,0,0,1,0,0,1,1,1,1,0

In [30]:
from sklearn.feature_extraction.text import CountVectorizer

In [33]:
review_list = [review_1,review_2,review_3]
review_list

['The movie was good and we really like it',
 'The movie was good but the ending was boring',
 'We did not like the movie as it was too lengthy']

In [34]:
count_vect = CountVectorizer()
count_vect

CountVectorizer()

In [35]:
X_count = count_vect.fit_transform(review_list)
X_count.toarray()

array([[1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1],
       [0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 2, 0, 2, 0],
       [0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1]], dtype=int64)

In [36]:
type(X_count)

scipy.sparse.csr.csr_matrix

In [40]:
X_names = count_vect.get_feature_names()
X_names

['and',
 'as',
 'boring',
 'but',
 'did',
 'ending',
 'good',
 'it',
 'lengthy',
 'like',
 'movie',
 'not',
 'really',
 'the',
 'too',
 'was',
 'we']

In [44]:
a = pd.DataFrame(X_count.toarray(),columns=X_names)
a

,and,as,boring,but,did,ending,good,it,lengthy,like,movie,not,really,the,too,was,we
0,1,0,0,0,0,0,1,1,0,1,1,0,1,1,0,1,1
1,0,0,1,1,0,1,1,0,0,0,1,0,0,2,0,2,0
2,0,1,0,0,1,0,0,1,1,1,1,1,0,1,1,1,1

In [45]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [46]:
tf_vect = TfidfVectorizer(min_df=1,lowercase=True,stop_words='english')

In [48]:
tf_matrix = tf_vect.fit_transform(review_list)

In [49]:
type(tf_matrix)

scipy.sparse.csr.csr_matrix

In [50]:
tf_matrix.shape

(3, 8)

In [51]:
tf_names = tf_vect.get_feature_names()

In [52]:
tf_names

['boring', 'did', 'ending', 'good', 'lengthy', 'like', 'movie', 'really']

In [53]:
tf_df = pd.DataFrame(tf_matrix.toarray(),columns=tf_names)

In [54]:
tf_df

,boring,did,ending,good,lengthy,like,movie,really
0,0.000000,0.000000,0.000000,0.480458,0.000000,0.480458,0.373119,0.631745
1,0.584483,0.000000,0.584483,0.444514,0.000000,0.000000,0.345205,0.000000
2,0.000000,0.584483,0.000000,0.000000,0.584483,0.444514,0.345205,0.000000