### Application program interface

In [ ]:
# its let 2 pieces of software talk to each other
# u use api to comm with another api via the funtns
# we use panda api to comm with other software component
# when u create a dict and create a pandas obj with data construtor in api lingo the data is passed to the panda api
# when u greate a funtn the data frame comm wiyh the api and displacw the function

# rest api allows you to comm throuh pther api they allow internet comm

In [1]:
import requests 
from bs4 import BeautifulSoup

In [11]:
base_site = "https://en.wikipedia.org/wiki/List_of_national_capitals_by_population"

In [12]:
r = requests.get(base_site)

In [6]:
html = r.content

### Extracting tables with beautifulsoup

In [13]:
soup = BeautifulSoup(html, 'lxml')

In [19]:
table = soup.find_all('table')[1]

In [20]:
table.find_all('tr')[0].contents

['\n',
 <th>Country (or territory)</th>,
 '\n',
 <th>Capital</th>,
 '\n',
 <th>Population</th>,
 '\n',
 <th style="max-width:4em">% of country</th>,
 '\n',
 <th>Source
 </th>]

In [22]:
capitals = [row.contents[3].text for row in table.find_all('tr')]
capitals

['Capital',
 ' Beijing',
 ' Tokyo',
 ' Kinshasa',
 ' Moscow',
 ' Jakarta',
 ' Seoul',
 ' Cairo',
 ' Mexico City',
 ' London',
 ' Dhaka',
 ' Lima',
 ' Tehran',
 ' Bangkok',
 ' Hanoi',
 ' Riyadh',
 ' Hong Kong',
 ' Bogotá',
 ' Baghdad',
 ' Santiago',
 ' Singapore',
 ' Ankara',
 ' Berlin',
 ' Damascus',
 ' Algiers',
 ' Madrid',
 ' Pyongyang',
 ' Kabul',
 ' Nairobi',
 ' Addis Ababa',
 ' Buenos Aires',
 ' Rome',
 ' Kyiv',
 ' Yaoundé',
 ' Taipei',
 ' Brasília',
 ' Amman',
 ' Luanda',
 ' Guatemala City',
 ' Pretoria',
 ' Paris',
 ' Tashkent',
 ' Baku',
 ' Havana',
 ' Phnom Penh',
 ' Bucharest',
 ' Khartoum',
 ' Caracas',
 ' Brazzaville',
 ' Rabat',
 ' Manila',
 ' Vienna',
 ' Budapest',
 ' Warsaw',
 ' Minsk',
 ' Kampala',
 ' Accra',
 ' Antananarivo',
 ' Beirut',
 ' Quito',
 ' Harare',
 ' Doha',
 " Sana'a",
 ' Conakry',
 ' Kuala Lumpur',
 ' Montevideo',
 ' Lusaka',
 ' Bamako',
 ' Sofia',
 ' Prague',
 ' Port-au-Prince',
 ' Tripoli',
 ' Dublin',
 ' Kuwait City',
 ' Belgrade',
 ' Santo Domingo',
 ' Mogadishu',
 ' Yerevan',
 ' Maputo',
 ' Freetown',
 ' Tbilisi',
 ' Dakar',
 ' Nur-Sultan',
 ' Islamabad',
 ' Monrovia',
 ' Ouagadougou',
 ' Kathmandu',
 ' Stockholm',
 ' Ottawa',
 ' Jerusalem[44]',
 ' Managua',
 ' Naypyidaw',
 ' Ulaanbaatar',
 ' Lilongwe',
 ' Amsterdam',
 ' Bishkek',
 ' Lomé',
 ' Panama City',
 ' Zagreb',
 ' Muscat',
 ' Niamey',
 ' Chişinău',
 ' Copenhagen',
 ' Abuja',
 ' Tunis',
 ' Tirana',
 ' Ashgabat',
 " N'Djamena",
 ' Tegucigalpa',
 ' Bangui',
 ' Nouakchott',
 ' Kigali',
 ' Riga',
 ' Washington, D.C.',
 ' Kingston',
 ' Asmara',
 ' Athens',
 ' Oslo',
 ' Helsinki',
 ' Abu Dhabi',
 ' Dushanbe',
 ' Lisbon',
 ' Vilnius',
 ' Libreville',
 ' San Salvador',
 ' Skopje',
 ' Asunción',
 ' Macau',
 ' Djibouti (city)',
 ' Yamoussoukro',
 ' Bissau',
 ' Tallinn',
 ' Bratislava',
 ' San Juan',
 ' Canberra',
 ' Sarajevo',
 ' Juba',
 ' San José',
 ' Port Moresby',
 ' Vientiane',
 ' Dodoma',
 ' Ljubljana',
 ' Nicosia',
 ' Maseru',
 ' Sucre',
 ' New Delhi',
 ' Paramaribo',
 ' Windhoek',
 ' Nassau',
 ' Gaborone',
 ' Porto-Novo',
 ' Wellington',
 ' Prishtina',
 ' El Aaiún (claimed)Tifariti (de facto)\n',
 ' Tiraspol',
 ' Brussels',
 ' Port Louis',
 ' Podgorica',
 ' Manama',
 ' Georgetown',
 ' Praia',
 ' Bern (de facto)',
 ' Luxembourg City',
 ' Sri Jayawardenepura Kotte',
 ' Reykjavík',
 ' Bridgetown',
 ' Malé',
 ' Thimphu',
 ' Malabo',
 ' Nouméa',
 ' Suva',
 ' Mbabane',
 ' Castries',
 ' Saipan',
 ' Moroni',
 ' Honiara',
 ' Dili',
 ' São Tomé',
 ' Pago Pago',
 ' Port of Spain',
 ' Stepanakert',
 ' Willemstad',
 ' Gitega',
 ' Kingstown',
 ' Apia',
 ' Port Vila',
 ' Monaco',
 ' Banjul',
 ' Tarawa',
 ' Oranjestad',
 ' Victoria',
 ' Gibraltar',
 ' Saint Helier',
 ' Bandar Seri Begawan',
 ' George Town',
 ' Douglas',
 ' Papeete',
 ' Ramallah (de facto)',
 ' Majuro',
 ' Andorra la Vella',
 " St. John's",
 ' Nukuʻalofa',
 ' Tórshavn',
 ' St. Peter Port',
 ' Belmopan',
 ' Nuuk (Godthåb)',
 ' Roseau',
 ' Basseterre',
 ' Mariehamn',
 ' Charlotte Amalie',
 ' Palikir',
 ' Road Town',
 " St. George's",
 ' Valletta',
 ' Gustavia',
 ' Marigot',
 ' Saint-Pierre',
 ' Avarua',
 ' Vaduz',
 ' City of San Marino',
 ' Funafuti',
 ' Cockburn Town',
 ' Stanley',
 ' Longyearbyen',
 ' Flying Fish Cove',
 ' Philipsburg',
 ' Mata-Utu',
 ' The Valley',
 ' Yaren (de facto)',
 ' Hagåtña',
 ' Hamilton',
 ' Vatican City (city-state)',
 ' Jamestown',
 ' Alofi',
 ' Atafu',
 ' Brades (de facto)Plymouth (de jure)',
 ' Ngerulmud',
 ' West Island',
 ' Adamstown',
 ' King Edward Point',
 ' Kingston (de facto)']

In [34]:
import pandas as pd

In [26]:
tables = pd.read_html(base_site)

In [27]:
type(tables[0])

pandas.core.frame.DataFrame

In [28]:
len(tables)

4

In [29]:
tables[1]

,Country (or territory),Capital,Population,% of country,Source
0,China *,Beijing,21542000,NaN,[1] 2010
1,Japan *,Tokyo,13929286,NaN,[2] 2017
2,DR Congo,Kinshasa,12691000,NaN,[3] 2017
3,Russia *,Moscow,12506468,NaN,[4] 2011
4,Indonesia *,Jakarta,10075310,NaN,[5] 2011
...,...,...,...,...,...
235,Palau,Ngerulmud,271,NaN,NaN
236,Cocos (Keeling) Islands (Australia),West Island,120,NaN,NaN
237,Pitcairn Islands (UK),Adamstown,50,NaN,NaN
238,South Georgia and the South Sandwich Islands (UK),King Edward Point,22,NaN,NaN
239,Norfolk Island (Australia),Kingston (de facto),NaN,NaN,[98]

In [30]:
tables[1].columns

Index(['Country (or territory)', 'Capital', 'Population', '% of country',
       'Source'],
      dtype='object')

In [35]:
pd.read_html(base_site, attrs = {"class": "navbox"})

ValueError: No tables found

In [36]:
pd.read_html(html, attrs = {"class": "wikitable sortable"})

ValueError: No tables found

In [37]:
import requests

In [38]:
headers ={
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/95.0.4638.69 Safari/537.36"
}

In [40]:
r = requests.get("https://www.youtube.com/", headers = headers)
r.status_code

200

In [44]:
import requests

In [43]:
s = requests.Session()   # initialize a session


r_1 = s.post(url_1, data = payload)   # Request made through that session
r_2 = s.get(url_2)                    # Request made through that session

s.close()            # close the session

NameError: name 'url_1' is not defined

In [45]:
url = “https://www.nytimes.com”
html = urllib.request.urlopen(url, context=ctx).read()
soup = BeautifulSoup(html, ‘html.parser’)

SyntaxError: invalid character in identifier (<ipython-input-45-e73a95463cce>, line 1)